body{
    margin: 1;
    padding: 1;
    font-family: Cascadia Code, Courier, monospace;
    background-color: rgb(44, 44, 44);
}
#container2{
    border-radius: 5rem;
    
    display: grid;
    transition: transform .5s;
    grid-template-columns: auto auto;
}
#header{
    border-radius: 5rem;
    
    text-align: center;
    transition: transform .5s;
    color: white;
    padding: 2rem;
    font-size: 4rem;
   
    text-align: center;
    
}
#sidebar{
  width: fill;
  transition: transform .5s;
}

.container{
    
    border: .4rem solid rgb(255, 0, 0);
    border-radius: 5rem;

    margin: 1rem;
    padding: 1rem;
    box-shadow: -20px 20px  rgb(0, 0, 0);
    padding-bottom: 2rem;
    background-color: rgb(44, 44, 44);
    transition: transform 5s;
}

#viewbox{
  width: auto;
  transition: transform 5s;
  border-radius: 5rem;
  
}
#title{
  text-align: center;
  border-radius: 5rem;
  color: white;
  padding: 0;
  filter: drop-shadow(-.15rem .15rem rgb(255, 255, 0)) 
  drop-shadow(-.15rem .15rem rgb(255, 166, 0)) drop-shadow(-.15rem .15rem rgb(255, 127, 127)); 
  transition: transform 5s;
  font-size: 4rem;

  letter-spacing: 3rem;
 
}
h1{
    text-align: center;
    
    color: white;
    padding: 0;
    filter: drop-shadow(-.15rem .15rem rgb(255, 255, 0)) drop-shadow(-.15rem .15rem rgba(255, 166, 0)) drop-shadow(-.15rem .15rem rgb(255, 0, 0)); 
    border: .4rem solid rgb(255, 0, 0);
    border-radius: 5rem;
    
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
    transition: transform 5s;
    text-align: center;
    letter-spacing: 1rem;
 
}
.outer{
  display: block;
  border: .4rem solid rgb(255, 0, 0);
  border-radius: 5rem;
  border-bottom-right-radius: 5rem;
  margin: 1rem;
  padding: 1rem;
  box-shadow: -20px 20px  black;
  padding-bottom: 4rem;
  width: fill;
  background-color: #ffa600;
  transition: transform 5s;

  
}

.links{
    text-align: center;
    display: none;
    margin: 0 auto;
}

.flip-div{
  transform: rotateY(10deg);
  
  transition: transform 5s;
}

.show-links{
  display: block;

}

a:link {
    color: #00ff00;
    align-items: center;

  }
  
  a:visited {
    color: rgb(103, 172, 0);
  }
  form input[type="text"], form input[type="number"] {
    font-size: 14px;
    padding: 8px;
  }

  form button {
    font-size: 14px;
    padding: 8px 16px;
  }
}